*{
	  margin:0;
	  padding: 0;
	  box-sizing: border-box;
}
body{
	  font-family: poppins;
}
ul,nav{
	  list-style: none;
}
a{
	  text-decoration: none;
	  cursor: pointer;
	  color: inherit;
}
header{
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 10;
	  width: 100%
	  display: -webkit-flex;
	  display: moz-flex;
	  display: -ms-flex;
	  display: o-flex;
	  display: flex;
	  justify-content: space-between;
	  algin-items: center;
	  color: #fff;
	  padding: 35px 100px 0;
}
header h2 span{
	  color: #f36100
}
header nav{
	  display: -webkit-flex;
	  display: moz-flex;
	  display: -ms-flex;
	  display: o-flex;
	  display: flex;
}
header nav li{
	  margin: 0 15px;
}
header nav li:first-child{
	  margin-left: 0;
}
header nav li:last-child{
  	margin-right: 0;
}
@media(max-width:1000px){
	  header{
	  	  padding: 20px 50px;
	  }
}
@media(max-width:700px){
	  header{
	  	  flex-direction: column;
	  }
	  header h2{
	  	  margin-bottom: 15px;
	  }
	  header nav li{
	     margin: 0 7px;
	  }
}

/*BANNER*/

section{
	  display: -webkit-flex;
	  display: moz-flex;
	  display: -ms-flex;
	  display: o-flex;
	  display: flex;
	  flex-direction: column
	  algin-items: center;
	  padding: 110px 100px;
	  color: #fff;
}
@media(max-width:1000px){
	  padding: 100px 50px;
}
@media(max-width:600px){
	  section{
	     padding: 125px 30px;
	  }
}
section p{
	  max-width: 800px;
	  text-algin: center;
	  margin-bottom: 35px;
	  padding: 0 20px;
	  line-height: 2;
}
.banner-area{
	  position: relative;
	  justify-content: center;
	  min-height: 100vh;
	  color: #fff;
	  text-algin: center;
}
.banner-area .banner-img{
	  background-image: url(images/1.jpg);
	  position: absolute;
	  top: 0;
	  lect: 0;
	  width: 100%;
	  height: 100%;
	  -webkit-background-size: cover;
	  background-size: cover;
	  z-index: -1;
	  background-position: center center;
}
